
/* -------- */

/* All elements width includes borders and padding*/
*{
    box-sizing: border-box;
 }
 
 /* Rows*/
 .row::after{
    content: "";
    clear: both;
    display: table;
 }
 
 
 
 /* Button */
 .greenBut{
    color: darkblue;
    padding: 12px; /* Some padding */
    background-color: yellow;
    font-size: 24px;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 6px; /* Rounded borders */
    margin: 10px;
 }
 
 img{
     max-width: 100%;
     margin: 10px;
 }
 
 
 button:hover{
     opacity: .5;
 }
 
 ol{
     font-size: 24px;
     margin-left: 20px;
     margin-right: 20px;
 }
 
 ol li{
     margin: 5px;
     padding: 2px;
     font-family: helvetica,sans-serif;
     font-size: 18px;
 }
 
 #error{
     color: rgb(255,121,111);
 }
 
 img{
     max-width: 100%;
     height: auto;
 }
 
 .top1{
     font-size: 24px;
 }
 
 .top2{
     font-size: 22px;
 }
 
 .top3{
     font-size: 20px;
 }