 * {
    box-sizing: border-box;
    font-family: Germania One;
    font-size: 20px;
}

body{
    background-image: url(/images/blue-wallpaper.jpg);
    overflow: hidden;
    color: #fff;
}

#game{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    min-height: 90vh;
    margin: 0;
}

#gameover{
    position:absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 500px;
    margin-top: 50px;
    display: none;
}
#gameoverpic{
    width: 400px;
}
#myform{
    position:absolute;
    margin-top: 320px;
    display: none;
}
.formStyle{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc; 
    border-radius: 6px; 
    margin: 10px;
    font-size: 20px;
}

#formButton{
    display: flex;
    margin: auto;
}

#highscore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* min-height: 10vh; */
    margin: 0;
}

h1, h2{
    color:white;
} 



td{
    border: solid 1.5px #fff;
    font-size: 25px;
    color: #fff;
    padding: 0.5em;
    
}

#canvas {
    /* background-image: url(/images/bg2.png); */
    border-radius: 5px; 
}

