 * {
    box-sizing: border-box;
    font-family: Germania One;
    font-size: 20px;
}

body{
    background-image: url(/images/blue-wallpaper.jpg);
    overflow: hidden;
    color: #fff;
}
h1, h2{
    color:white;
} 

.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;

}
.startgame{
    border-radius: 10px;
    border: solid 1.5px #fff;
    font-size: 25px;
    color: #fff;
    padding: 0.5em;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}
.startgame:hover{
    background-color: rgba(0, 0, 0, 0.242);
}

.welcome{
    font-size: 4rem;
}

#game{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#gameover{
    position:absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 500px;
    margin-top: 50px;
    display: none;
}
#gameoverpic{
    width: 400px;
}
#myform{
    position:absolute;
    margin-top: 320px;
    display: none;
}
.formStyle{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc; 
    border-radius: 6px; 
    margin: 10px;
    font-size: 20px;
}

#formButton{
    display: flex;
    margin: auto;
}

#highscore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin: 0;
}





td{
    border: solid 1.5px #fff;
    font-size: 25px;
    color: #fff;
    padding: 0.5em;
    
}

#canvas {
    border-radius: 5px; 
}

