 /* * {
    box-sizing: border-box;
} */

body{
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
}
h1{
    color:white;
} 

/* #canvas {
     background: rgb(137, 255, 249);
    border-radius: 5px; 
}
  */

